@charset "UTF-8";
/*@include plus(12,4,#000);*/
html {
  font: 400 14px/1.5714 "Montserrat", sans-serif; }

body {
  color: #222;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh; }

#main {
  width: 100%;
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
  -moz-box-flex: 1;
  -moz-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  overflow: hidden; }

.container {
  margin: 0 auto;
  width: 1170px;
  max-width: 94%;
  position: relative; }

input[type="text"], input[type="email"], input[type="tel"], input[type="search"], input[type="password"], textarea {
  width: 100%;
  height: 40px;
  font-family: "Montserrat";
  font-size: 1rem;
  border: 1px solid #ccc;
  padding: 0 10px;
  background: #eee;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease; }
  input[type="text"]:focus, input[type="email"]:focus, input[type="tel"]:focus, input[type="search"]:focus, input[type="password"]:focus, textarea:focus {
    border: 1px solid #ce6813; }

textarea {
  resize: none;
  height: 100px;
  padding: 10px; }

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #333333; }

input::-moz-placeholder, textarea::-moz-placeholder {
  color: #333333;
  opacity: 1; }

/*Button*/
.button {
  display: inline-block;
  font-family: "Montserrat";
  font-size: 1rem;
  text-align: center;
  line-height: 2.85714rem;
  text-decoration: none;
  color: #fff;
  padding: 0 1.42857rem;
  background: #ce6813; }
  .button:hover {
    opacity: 0.8;
    text-decoration: none; }

/*Social*/
.some a {
  display: inline-block;
  position: relative;
  width: 30px;
  height: 30px;
  margin: 0 8px;
  background: #ffffff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%; }
  .some a:first-child {
    margin-left: 0; }
  .some a:last-child {
    margin-right: 0; }
  .some a:hover {
    background: #ce6813;
    text-decoration: none; }
    .some a:hover:before {
      color: #ffffff; }
  .some a:before {
    color: #222;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease; }

.flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between; }

.alc {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center; }

.start {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  -webkit-align-items: flex-start;
  -moz-align-items: flex-start;
  align-items: flex-start; }

.end {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: end;
  -ms-flex-align: end;
  -webkit-align-items: flex-end;
  -moz-align-items: flex-end;
  align-items: flex-end; }

.flex_parent {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  -webkit-align-items: flex-start;
  -moz-align-items: flex-start;
  align-items: flex-start; }
  .flex_parent article {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1; }
  .flex_parent aside {
    -webkit-flex-basis: 250px;
    -moz-flex-basis: 250px;
    -ms-flex-preferred-size: 250px;
    flex-basis: 250px;
    min-width: 250px;
    max-width: 100%;
    margin-left: 20px; }

.cover {
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat; }

.valign {
  display: inline-block;
  vertical-align: middle;
  max-width: 94%; }

.vfix {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  width: 0; }

.selbel_w {
  position: relative;
  display: block;
  width: 100%;
  font-size: 14px;
  font-family: "Montserrat";
  height: 40px; }
  .selbel_w select {
    width: 100%;
    height: 100%;
    cursor: pointer;
    position: relative;
    display: block;
    z-index: 1;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; }
    .selbel_w select + span {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: #fff;
      color: #222;
      padding: 0 10px;
      border: 1px solid #eee;
      line-height: 40px; }
      .selbel_w select + span:after {
        content: '';
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 9px 5px 0 5px;
        border-color: #555 transparent transparent transparent;
        position: absolute;
        right: 13px;
        top: 16px; }
      .selbel_w select + span.err {
        border-color: #ef4036; }
    .selbel_w select option {
      padding: 5px; }

.fullframe {
  height: 0;
  margin: 0;
  overflow: hidden;
  padding-bottom: 56.5%;
  position: relative;
  z-index: 0; }
  .fullframe iframe, .fullframe object, .fullframe embed {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1; }

div.wpcf7 .wpcf7-form-control-wrap {
  display: block !important;
  margin-bottom: 20px;
  clear: both; }

div.wpcf7 .wpcf7-not-valid-tip {
  background: #fff;
  border: 1px solid #FF0000;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  cursor: pointer;
  font-family: "Montserrat";
  height: 40px;
  line-height: 40px;
  padding: 0 10px;
  text-align: left; }

div.wpcf7 .wpcf7-response-output {
  width: 100%;
  background: #fff;
  margin: 10px 0 0 0;
  font-family: "Montserrat";
  font-size: 12px;
  line-height: 20px;
  padding: 5px 20px;
  text-align: center; }

div.wpcf7 .ajax-loader {
  display: none; }

.error404 .content {
  text-align: center; }
  .error404 .content h1 {
    font-size: 4.28571rem;
    line-height: 1.2;
    padding-bottom: 40px;
    font-weight: 400; }
    .error404 .content h1 span {
      font-size: 6.07143rem;
      line-height: 1.2;
      color: #ce6813;
      font-weight: 700; }
  .error404 .content p {
    font-size: 1.28571rem; }

#menuOpen {
  position: absolute;
  top: -15px;
  right: inherit !important;
  left: -15px;
  height: 55px;
  text-align: left;
  display: none;
  z-index: 999; }

.hamburger {
  padding: 13px 15px;
  display: inline-block;
  cursor: default;
  transition-property: opacity, filter;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible; }
  .hamburger:hover {
    opacity: 1; }

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  vertical-align: middle;
  position: relative; }

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px; }
  .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    width: 40px;
    height: 4px;
    background-color: #fff;
    border-radius: 4px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease; }
  .hamburger-inner::before, .hamburger-inner::after {
    content: "";
    display: block; }
  .hamburger-inner::before {
    top: -10px; }
  .hamburger-inner::after {
    bottom: -10px; }

/*Collapse*/
.hamburger--collapse .hamburger-inner {
  top: auto;
  bottom: 0;
  transition-duration: 0.13s;
  transition-delay: 0.13s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  .hamburger--collapse .hamburger-inner::after {
    top: -20px;
    transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0.1s linear; }
  .hamburger--collapse .hamburger-inner::before {
    transition: top 0.12s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--collapse.is-active .hamburger-inner {
  transform: translate3d(0, -10px, 0) rotate(-45deg);
  transition-delay: 0.22s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  .hamburger--collapse.is-active .hamburger-inner::after {
    top: 0;
    opacity: 0;
    transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0.1s 0.22s linear; }
  .hamburger--collapse.is-active .hamburger-inner::before {
    top: 0;
    transform: rotate(-90deg);
    transition: top 0.1s 0.16s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1); }

/*Scroll*/
::-webkit-scrollbar {
  width: 13px; }

::-webkit-scrollbar-track {
  border-left: 1px solid #ccc;
  background-color: #eaeaea; }

::-webkit-scrollbar-thumb {
  background-color: #ce6813; }

::-webkit-scrollbar-thumb:hover {
  background: #b75c11; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  line-height: 1.2;
  padding-bottom: 20px; }

p {
  padding-bottom: 20px;
  line-height: 1.5; }

a {
  color: #ce6813;
  text-decoration: none;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease; }
  a:hover {
    text-decoration: underline; }

.info.footer.clodes a.mylink:hover {
  color: #ce6813 !important; }

.container {
  position: relative; }

#menuOpen.opened {
  top: 15px;
  left: 10px; }

.error404 {
  position: relative;
  height: 100vh;
  background-image: url("/wp-content/themes/sociable/images/404.jpg");
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat; }
  .error404 footer {
    display: none; }
  .error404 header {
    display: none; }
  .error404 #main:before {
    display: none; }
  .error404 #main a.logo img {
    margin: 50px auto; }
  .error404 #main .go_home a {
    position: relative;
    font-size: 16px;
    text-transform: uppercase;
    color: #9b9b9b;
    font-weight: 500; }
  .error404 #main .not_found {
    position: relative; }
    .error404 #main .not_found h2 {
      text-transform: uppercase;
      font-weight: 700;
      font-size: 20px; }
    .error404 #main .not_found:before {
      font-family: "Montserrat";
      content: '404';
      font-size: 275px;
      font-weight: 700;
      position: absolute;
      right: 0;
      bottom: 0;
      top: 0;
      left: 0;
      color: #ffffff; }

.fancybox-hidden {
  display: none; }

header {
  margin-bottom: 30px;
  font-family: "Montserrat";
  position: relative;
  z-index: 999; }
  header .logo {
    display: inline-block;
    margin: 0 auto; }
  header a {
    font-weight: 700;
    text-transform: uppercase;
    color: #222; }
  header .header_content {
    margin-top: 30px; }

#main {
  position: relative; }
  #main .background {
    position: absolute;
    z-index: 1;
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    opacity: 0.7; }

.shadow {
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  box-shadow: 0 2px 10px 1px #ccc; }
  .shadow:hover {
    box-shadow: none; }

.hamburger {
  padding-right: 60px !important; }
  .hamburger:hover {
    cursor: pointer; }

.close {
  display: none; }

#mainMenu {
  text-align: center;
  background: #090b1e !important; }
  #mainMenu a.logo2 {
    display: inline-block;
    margin: 25px 0; }
  #mainMenu ul li:last-child {
    margin-bottom: 40px; }

.header_content .opened .close {
  display: block !important;
  color: #ffffff;
  z-index: -1;
  position: fixed;
  top: 33px;
  left: 65px;
  text-transform: uppercase;
  font-size: 10px; }
  .header_content .opened .close:hover {
    cursor: pointer; }

.top_image {
  width: 86%;
  margin: 0 auto;
  height: 400px;
  position: relative;
  z-index: 995; }

.home footer {
  display: none; }

.home .swiper-wrapper .swiper-slide:nth-child(2) .slider_info {
  text-align: center; }
  .home .swiper-wrapper .swiper-slide:nth-child(2) .slider_info h3 {
    text-align: center; }

.home .home_content {
  padding-bottom: 110px; }
  .home .home_content .container {
    position: relative; }
  .home .home_content .home_slider {
    width: 86%;
    margin: 0 auto;
    position: relative;
    margin-top: 40px;
    font-family: "Montserrat"; }
    .home .home_content .home_slider .swiper-container {
      z-index: 4;
      width: 100%;
      height: 600px;
      margin-left: auto;
      margin-right: auto; }
    .home .home_content .home_slider .swiper-slide {
      position: relative;
      height: 600px;
      text-align: center;
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center; }
      .home .home_content .home_slider .swiper-slide:before {
        content: '';
        position: absolute;
        right: 0;
        bottom: 0;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.65); }
    .home .home_content .home_slider .swiper-button-next, .home .home_content .home_slider .swiper-button-prev {
      bottom: -85px !important;
      top: inherit !important;
      background-image: none;
      text-transform: uppercase;
      font-size: 10px; }
      .home .home_content .home_slider .swiper-button-next:before, .home .home_content .home_slider .swiper-button-prev:before {
        font-size: 36px; }
      .home .home_content .home_slider .swiper-button-next:hover, .home .home_content .home_slider .swiper-button-prev:hover {
        color: #9e0039; }
        .home .home_content .home_slider .swiper-button-next:hover:before, .home .home_content .home_slider .swiper-button-prev:hover:before {
          color: #9e0039; }
    .home .home_content .home_slider .swiper-button-next {
      right: -60px; }
    .home .home_content .home_slider .swiper-button-prev {
      left: -55px; }
    .home .home_content .home_slider .swiper-pagination {
      left: 0;
      right: 0;
      bottom: -65px;
      z-index: 4; }
      .home .home_content .home_slider .swiper-pagination .swiper-pagination-bullet-active:after {
        color: #9e0039 !important; }
      .home .home_content .home_slider .swiper-pagination .swiper-pagination-bullet {
        margin: 0 10px;
        font-family: "Work Sans";
        font-weight: 500; }
        .home .home_content .home_slider .swiper-pagination .swiper-pagination-bullet:first-child {
          position: relative;
          color: transparent; }
          .home .home_content .home_slider .swiper-pagination .swiper-pagination-bullet:first-child:after {
            -webkit-transition: all 0.4s ease;
            -moz-transition: all 0.4s ease;
            -ms-transition: all 0.4s ease;
            -o-transition: all 0.4s ease;
            transition: all 0.4s ease;
            color: #222222;
            content: '01';
            position: absolute;
            right: 0;
            bottom: 0;
            top: 0;
            left: 0; }
          .home .home_content .home_slider .swiper-pagination .swiper-pagination-bullet:first-child:hover {
            color: transparent; }
            .home .home_content .home_slider .swiper-pagination .swiper-pagination-bullet:first-child:hover:after {
              color: #9e0039; }
          .home .home_content .home_slider .swiper-pagination .swiper-pagination-bullet:first-child:active:after {
            color: #9e0039; }
      .home .home_content .home_slider .swiper-pagination .swiper-pagination-bullet {
        opacity: 0.5;
        cursor: pointer;
        display: inline-block;
        width: auto;
        height: auto;
        line-height: 1.2;
        background: none;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
        -webkit-transition: all 0.4s ease;
        -moz-transition: all 0.4s ease;
        -ms-transition: all 0.4s ease;
        -o-transition: all 0.4s ease;
        transition: all 0.4s ease; }
        .home .home_content .home_slider .swiper-pagination .swiper-pagination-bullet:not(:last-child) {
          margin-bottom: 13px; }
        .home .home_content .home_slider .swiper-pagination .swiper-pagination-bullet-active, .home .home_content .home_slider .swiper-pagination .swiper-pagination-bullet:hover {
          opacity: 1;
          color: #9e0039;
          cursor: pointer !important; }
    .home .home_content .home_slider .i-angle-left:before {
      position: absolute;
      left: -40px;
      top: -13px; }
    .home .home_content .home_slider .i-angle-right:before {
      position: absolute;
      right: -40px;
      top: -13px; }
  .home .home_content .swiper-pagination .swiper-pagination-bullet:not(:last-child) {
    margin-bottom: 9px !important; }

.shares {
  top: 45%;
  width: 105px;
  height: 310px;
  display: inline-block;
  position: absolute;
  left: 0; }
  .shares #share {
    text-transform: uppercase;
    transform: rotate(-90deg); }
  .shares .share-container {
    position: absolute;
    height: 40px;
    width: 40px;
    border-radius: 40px;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
    z-index: 5; }
  .shares .social-check-label {
    z-index: 10;
    position: absolute;
    height: 60px;
    width: 40px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%) rotate(0deg);
    border-radius: 100%;
    transition: 0.3s ease;
    cursor: pointer; }
  .shares .social-check-label::before,
  .shares .social-check-label::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 2px;
    width: 42%;
    border-radius: 2px;
    background-color: #9e0039; }
  .shares .social-check-label::after {
    transform: translate(-50%, -50%) rotate(90deg); }
  .shares .social-button {
    position: absolute;
    height: 40px;
    width: 40px;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.75);
    transition: 0.3s ease, opacity 0.1s ease;
    background-size: cover !important;
    backface-visibility: hidden;
    display: none; }
  .shares .social-button.facebook {
    top: 80px !important;
    background: url("https://cdn4.iconfinder.com/data/icons/social-icon-4/842/facebook-256.png") no-repeat center; }
  .shares .social-button.twitter {
    top: 40px !important;
    background: url("https://cdn4.iconfinder.com/data/icons/social-icon-4/842/twitter-256.png") no-repeat center; }
  .shares .social-button.linkedin {
    top: 120px !important;
    background: url("/wp-content/themes/sociable/images/linkedin.png") no-repeat center; }
  .shares .expander {
    position: absolute;
    height: 45px;
    width: 45px;
    border-radius: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    backface-visibility: hidden;
    transition: 0.3s ease; }
  .shares #socialCheckbox {
    display: none; }
  .shares #socialCheckbox:checked ~ .share-container {
    box-shadow: none;
    transition: 0.3s ease, box-shadow 0.1s ease; }
  .shares #socialCheckbox:checked ~ .share-container > .social-button {
    display: block;
    cursor: pointer; }
  .shares #socialCheckbox:checked ~ .share-container > .social-button.facebook {
    top: 168px;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease; }
  .shares #socialCheckbox:checked ~ .share-container > .social-button.twitter {
    top: 210px;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease; }
  .shares #socialCheckbox:checked ~ .share-container > .social-button.google {
    top: 250px;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease; }
  .shares #socialCheckbox:checked ~ .share-container > .social-button:hover {
    transform: translate(-50%, -50%) scale(1);
    transition: 0.3s cubic-bezier(0.3, 0.2, 0, 2.5); }
  .shares #socialCheckbox:checked ~ .share-container > .social-check-label {
    transform: translateX(-50%) rotate(225deg); }

.socials {
  z-index: 33;
  position: absolute;
  right: 25px;
  top: 30%;
  display: inline-flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }
  .socials a {
    color: #898989;
    margin-bottom: 16px;
    font-size: 18px; }
    .socials a:hover {
      color: #9e0039;
      text-decoration: none; }

.gallery_content {
  width: 86%;
  margin: 0 auto;
  position: relative;
  z-index: 2; }
  .gallery_content .top_gallery {
    margin-top: 50px;
    height: 400px;
    margin-bottom: 70px; }

.page-template-tpl-offers #main:before {
  display: none; }

.page-template-tpl-offers .offers .top_image {
  width: 86%;
  margin: 0 auto;
  height: 400px;
  position: relative;
  z-index: 992; }

.page-template-tpl-offers .offers h2 {
  padding-top: 60px;
  padding-bottom: 50px;
  font-size: 26px;
  text-transform: uppercase;
  color: #090b1e;
  font-weight: 500; }

.page-template-tpl-offers .offers h3 {
  color: #9e0039;
  text-transform: uppercase;
  font-size: 18px;
  padding: 0; }

.page-template-tpl-offers .offers .offers_block {
  position: relative;
  text-align: center; }
  .page-template-tpl-offers .offers .offers_block .week_offers {
    margin-top: 80px;
    text-align: center;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }

.page-template-tpl-offers .offers .item {
  width: 86%;
  margin: 0 auto;
  position: relative;
  padding: 20px;
  background: #fffefe;
  margin-bottom: 50px;
  box-shadow: 0 2px 10px 1px #ccc; }
  .page-template-tpl-offers .offers .item:nth-child(2n) {
    -webkit-box-direction: reverse;
    -webkit-box-orient: horizontal;
    -webkit-flex-direction: row-reverse;
    -moz-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse; }
  .page-template-tpl-offers .offers .item .day {
    color: #9e0039;
    text-transform: uppercase;
    font-size: 18px;
    margin-bottom: 65px;
    font-weight: 500; }
  .page-template-tpl-offers .offers .item .info {
    font-weight: 500;
    -webkit-flex-basis: 58%;
    -moz-flex-basis: 58%;
    -ms-flex-preferred-size: 58%;
    flex-basis: 58%;
    font-size: 16px;
    color: #090b1e;
    font-family: "Work Sans"; }
  .page-template-tpl-offers .offers .item .image {
    height: 213px;
    -webkit-flex-basis: 40%;
    -moz-flex-basis: 40%;
    -ms-flex-preferred-size: 40%;
    flex-basis: 40%; }

.page-template-tpl-offers .offers .bottom_offers {
  padding-bottom: 120px;
  margin-top: 80px; }
  .page-template-tpl-offers .offers .bottom_offers .image {
    height: 353px; }
  .page-template-tpl-offers .offers .bottom_offers .info {
    text-align: left; }
    .page-template-tpl-offers .offers .bottom_offers .info .day {
      margin-bottom: 25px; }
  .page-template-tpl-offers .offers .bottom_offers .item:last-child {
    margin-bottom: 0; }

.page-template-tpl-offers .offers .bottom h3 {
  width: 50%;
  margin: 0 auto;
  font-weight: 500; }

.group {
  width: 86%;
  margin: 0 auto;
  text-align: center; }
  .group h1 {
    margin: 95px 0;
    text-transform: uppercase;
    font-size: 26px;
    font-weight: 500; }
  .group .description {
    margin-bottom: 100px;
    padding: 20px;
    background: #fffefe; }
    .group .description .image {
      -webkit-flex-basis: 40%;
      -moz-flex-basis: 40%;
      -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
      height: inherit; }
    .group .description .text {
      -webkit-flex-basis: 58%;
      -moz-flex-basis: 58%;
      -ms-flex-preferred-size: 58%;
      flex-basis: 58%;
      text-align: left; }
      .group .description .text h2 {
        display: block;
        text-align: center;
        color: #9e0039;
        text-transform: uppercase; }
      .group .description .text a {
        color: #9e0039; }

.booking {
  width: 86%;
  margin: 0 auto;
  text-align: center; }
  .booking .top_image {
    width: 100%;
    margin: 0; }
  .booking h1 {
    margin: 95px 0;
    text-transform: uppercase;
    font-size: 26px;
    font-weight: 500; }
  .booking .description {
    margin-bottom: 50px;
    padding: 40px 70px 60px;
    background: #fffefe; }
    .booking .description h2 {
      padding-bottom: 0;
      margin-bottom: 45px;
      display: block;
      text-align: center;
      color: #9e0039;
      text-transform: uppercase; }
    .booking .description p {
      padding-bottom: 5px; }
    .booking .description .middle {
      margin: 45px 0 50px;
      text-transform: uppercase; }
      .booking .description .middle p {
        margin-bottom: 0; }
    .booking .description .bottom p:first-child {
      padding-bottom: 20px; }

.price_list .price_list_slider {
  position: relative; }
  .price_list .price_list_slider .swiper-slide {
    min-height: 454px; }
  .price_list .price_list_slider .pagination_wrap {
    width: 315px;
    max-width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    padding: 25px;
    z-index: 10;
    position: absolute;
    background: rgba(37, 37, 37, 0.8); }
  .price_list .price_list_slider .swiper-pagination {
    font-family: "Work Sans";
    color: #ffffff;
    text-align: left;
    text-transform: uppercase;
    position: static; }
    .price_list .price_list_slider .swiper-pagination .swiper-pagination-bullet {
      display: block;
      width: auto;
      height: auto;
      line-height: 1.2;
      opacity: 1;
      background: none;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0;
      -webkit-transition: all 0.4s ease;
      -moz-transition: all 0.4s ease;
      -ms-transition: all 0.4s ease;
      -o-transition: all 0.4s ease;
      transition: all 0.4s ease; }
      .price_list .price_list_slider .swiper-pagination .swiper-pagination-bullet:not(:last-child) {
        margin-bottom: 13px; }
      .price_list .price_list_slider .swiper-pagination .swiper-pagination-bullet-active, .price_list .price_list_slider .swiper-pagination .swiper-pagination-bullet:hover {
        color: #ce6813; }

.price_list .price_list_content {
  padding: 25px 0; }
  .price_list .price_list_content .swiper-slide {
    min-height: 0 !important; }
  .price_list .price_list_content h3 {
    color: #ce6813;
    text-align: center;
    text-transform: uppercase; }
  .price_list .price_list_content .prices_content .procedure {
    padding: 3px 10px; }
    .price_list .price_list_content .prices_content .procedure:nth-of-type(odd) {
      background: #e6e6e6; }
  .price_list .price_list_content .prices_content .wrap:not(:last-child) {
    margin-bottom: 20px; }

.wine_type .swiper-container {
  overflow: inherit !important;
  -webkit-box-direction: reverse;
  -webkit-box-orient: horizontal;
  -webkit-flex-direction: row-reverse;
  -moz-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse; }
  .wine_type .swiper-container .info {
    text-align: center;
    margin-top: 30px; }

.wine_type .swiper-slide {
  position: relative;
  font-size: 18px;
  z-index: 10; }

.wine_type .swiper-pagination {
  height: 300px;
  background: #ffffff;
  padding: 25px;
  font-family: "Montserrat";
  width: 25%;
  margin-right: 20px;
  float: left;
  color: #000;
  text-align: left;
  text-transform: uppercase;
  position: static; }
  .wine_type .swiper-pagination .swiper-pagination-bullet {
    font-weight: 500;
    color: #898989;
    font-family: "Montserrat";
    cursor: pointer;
    display: block;
    width: auto;
    height: auto;
    line-height: 1.2;
    opacity: 1;
    background: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease; }
    .wine_type .swiper-pagination .swiper-pagination-bullet:not(:last-child) {
      margin-bottom: 13px; }
    .wine_type .swiper-pagination .swiper-pagination-bullet-active, .wine_type .swiper-pagination .swiper-pagination-bullet:hover {
      color: #9e0039;
      cursor: pointer !important; }

.swiper-slide .slider_info {
  text-align: left;
  color: #fffefe;
  position: relative;
  width: 86%;
  margin: 0 auto; }
  .swiper-slide .slider_info h3 {
    text-transform: uppercase;
    font-size: 36px;
    padding-bottom: 50px; }
    .swiper-slide .slider_info h3 span {
      font-family: 'Mistral'; }
  .swiper-slide .slider_info .link {
    margin-top: 45px;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease; }
    .swiper-slide .slider_info .link a {
      -webkit-transition: all 0.4s ease;
      -moz-transition: all 0.4s ease;
      -ms-transition: all 0.4s ease;
      -o-transition: all 0.4s ease;
      transition: all 0.4s ease;
      color: #fffefe;
      text-transform: uppercase;
      position: relative;
      font-size: 20px;
      font-weight: 500; }
      .swiper-slide .slider_info .link a:after {
        -webkit-transition: all 0.4s ease;
        -moz-transition: all 0.4s ease;
        -ms-transition: all 0.4s ease;
        -o-transition: all 0.4s ease;
        transition: all 0.4s ease;
        content: '→';
        position: absolute;
        color: #fffefe;
        top: -11px;
        right: -40px;
        font-size: 26px; }
      .swiper-slide .slider_info .link a:hover {
        text-decoration: none; }
        .swiper-slide .slider_info .link a:hover:after {
          right: -60px; }
      .swiper-slide .slider_info .link a:empty {
        display: none; }
  .swiper-slide .slider_info p {
    padding-bottom: 0; }

.general h1 {
  text-transform: uppercase;
  font-weight: 500;
  margin: 100px 0 100px !important;
  padding-bottom: 0; }

.general .top_top {
  height: 300px; }

.general .image {
  float: right;
  height: 400px;
  width: 40%;
  margin-left: 20px; }

.general .items_wine {
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }
  .general .items_wine .item {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between; }
    .general .items_wine .item .small {
      display: block; }

.general .menu_item .i {
  padding: 20px;
  margin-bottom: 100px;
  overflow: hidden; }
  .general .menu_item .i:nth-child(2n) .image {
    float: left;
    margin-left: 0;
    margin-right: 20px; }
  .general .menu_item .i:nth-child(2n) .w {
    margin-left: auto; }

.general .menu_item h2 {
  display: block;
  text-align: center;
  color: #9e0039; }

.top_gallery {
  position: relative; }

.gallery_items {
  margin-bottom: 100px; }
  .gallery_items .items {
    position: relative; }
    .gallery_items .items .item {
      margin-right: 1.3% !important;
      margin-bottom: 5px !important;
      overflow: hidden;
      display: inline-block; }
      .gallery_items .items .item .image_single {
        position: relative; }
        .gallery_items .items .item .image_single:before {
          opacity: 0;
          content: '';
          position: absolute;
          right: 0;
          bottom: 0;
          top: 0;
          left: 0;
          background: rgba(61, 63, 77, 0.85); }
        .gallery_items .items .item .image_single .bg_image {
          -webkit-transition: all 0.4s ease;
          -moz-transition: all 0.4s ease;
          -ms-transition: all 0.4s ease;
          -o-transition: all 0.4s ease;
          transition: all 0.4s ease;
          opacity: 0;
          position: absolute;
          top: 20px;
          right: 20px;
          left: 20px;
          bottom: 20px; }
          .gallery_items .items .item .image_single .bg_image .square {
            position: relative;
            width: 50px;
            text-align: center;
            margin: 45% auto 0; }
            .gallery_items .items .item .image_single .bg_image .square span {
              text-transform: uppercase;
              color: #ffffff;
              font-size: 22px;
              font-weight: 500; }
            .gallery_items .items .item .image_single .bg_image .square:before {
              -webkit-transition: all 0.4s ease;
              -moz-transition: all 0.4s ease;
              -ms-transition: all 0.4s ease;
              -o-transition: all 0.4s ease;
              transition: all 0.4s ease;
              content: '';
              position: absolute;
              top: 0;
              width: 0;
              left: 0;
              height: 2px;
              background: #fff; }
            .gallery_items .items .item .image_single .bg_image .square:after {
              -webkit-transition: all 0.4s ease;
              -moz-transition: all 0.4s ease;
              -ms-transition: all 0.4s ease;
              -o-transition: all 0.4s ease;
              transition: all 0.4s ease;
              font-weight: 700;
              content: '';
              position: absolute;
              width: 2px;
              height: 0;
              top: -50%;
              left: 50%;
              background: #fff; }
      .gallery_items .items .item:nth-child(1) {
        width: 40.4%; }
        .gallery_items .items .item:nth-child(1) .image_single {
          width: 100%;
          height: 385px; }
      .gallery_items .items .item:nth-child(2) {
        margin-right: 0 !important;
        float: right;
        width: 35%; }
        .gallery_items .items .item:nth-child(2) .image_single {
          margin-right: 0;
          width: 100%;
          height: 184px; }
      .gallery_items .items .item:nth-child(3) {
        width: 35%;
        float: right;
        margin-right: 0 !important;
        position: absolute;
        right: 0;
        top: 199px; }
        .gallery_items .items .item:nth-child(3) .image_single {
          height: 184px;
          width: 100%; }
      .gallery_items .items .item:nth-child(4) {
        float: right;
        width: 22%; }
        .gallery_items .items .item:nth-child(4) .image_single {
          width: 100%;
          height: 385px; }
      .gallery_items .items .item:nth-child(5) {
        margin-right: 0 !important;
        width: 35%;
        float: right; }
        .gallery_items .items .item:nth-child(5) .image_single {
          width: 100%;
          margin-right: 0;
          height: 385px; }
      .gallery_items .items .item:nth-child(6) {
        width: 63.7%; }
        .gallery_items .items .item:nth-child(6) .image_single {
          width: 100%;
          height: 385px; }
      .gallery_items .items .item .image_single {
        -webkit-transition: all 0.4s ease;
        -moz-transition: all 0.4s ease;
        -ms-transition: all 0.4s ease;
        -o-transition: all 0.4s ease;
        transition: all 0.4s ease; }
    .gallery_items .items:nth-child(2n) .item:nth-child(6) {
      width: 35%; }
    .gallery_items .items:nth-child(2n) .item:nth-child(5) {
      width: 63.7%; }
    .gallery_items .items:nth-child(2n) .item:nth-child(1) {
      height: 184px;
      margin-top: 199px;
      width: 35%; }
    .gallery_items .items:nth-child(2n) .item:nth-child(2) {
      width: 40.4%;
      height: 385px; }
      .gallery_items .items:nth-child(2n) .item:nth-child(2) .image_single {
        height: 100%; }
    .gallery_items .items:nth-child(2n) .item:nth-child(3) {
      left: 0;
      top: 0; }

#contact {
  position: relative;
  height: 100vh;
  width: 100%;
  background: #090b1e;
  margin: 0 !important;
  text-align: center; }
  #contact:before {
    content: '';
    position: absolute;
    z-index: 1;
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    background-image: url("http://163.test/wp-content/uploads/2018/03/bg.png"); }
  #contact .fancybox-close-small {
    top: 40px;
    left: 60px;
    width: 20px;
    height: 20px;
    transform: rotate(-45deg);
    border-left: 1px solid #9e0039;
    border-top: 1px solid #9e0039; }
    #contact .fancybox-close-small:hover:after {
      background: none; }
    #contact .fancybox-close-small:after {
      height: 0;
      width: 0;
      padding-left: 20px;
      content: 'BACK';
      color: #ffffff;
      transform: rotate(45deg);
      font-size: 10px;
      line-height: 0; }
  #contact .contact_top {
    position: relative;
    z-index: 2; }
    #contact .contact_top a.logo img {
      margin: 11px auto 0; }
    #contact .contact_top .socials {
      right: 90px; }
  #contact .contact_info {
    margin-top: 70px;
    display: inline-block;
    font-size: 17px;
    z-index: 2;
    position: relative;
    text-align: center;
    color: #ffffff; }
    #contact .contact_info .shadule {
      margin-top: 50px; }
    #contact .contact_info a {
      color: #ffffff; }
    #contact .contact_info h2 {
      text-transform: uppercase;
      font-weight: 500;
      font-size: 30px;
      padding-bottom: 40px; }
    #contact .contact_info h3 {
      text-transform: uppercase;
      font-weight: 500;
      padding-bottom: 33px;
      font-size: 20px; }
  #contact .footer {
    position: absolute;
    bottom: 40px;
    left: 0;
    right: 0; }
    #contact .footer .info_bottom {
      text-align: center;
      color: #79797c;
      text-transform: uppercase; }
    #contact .footer a:hover {
      color: #ce6813; }

.footer a {
  position: relative;
  z-index: 3; }
  .footer a:hover {
    color: #ce6813 !important;
    opacity: 1; }
    .footer a:hover:before {
      background: #ce6813; }
    .footer a:hover:after {
      background: #ce6813; }

.wines .swiper-container {
  width: 100%;
  height: 100vh; }

.wines .swiper-slide {
  text-align: center;
  font-size: 18px; }

.food_navigation {
  position: relative; }
  .food_navigation #main:before {
    content: '';
    position: absolute;
    width: 20px;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    background: #fff; }
  .food_navigation #main:after {
    content: '';
    position: absolute;
    width: 20px;
    height: 100%;
    bottom: 0;
    top: 0;
    right: 0;
    background: #fff; }
  .food_navigation:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 20px;
    top: 0;
    left: 0;
    right: 0;
    background: #fff; }
  .food_navigation:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 20px;
    bottom: 0;
    left: 0;
    right: 0;
    background: #fff; }
  .food_navigation #firstlogo {
    display: none; }
  .food_navigation #secondlogo {
    display: inline-block; }
  .food_navigation .header_content {
    margin-top: 50px; }
    .food_navigation .header_content a.mylink {
      color: #ffffff; }
      .food_navigation .header_content a.mylink:hover:before {
        background: #ffffff; }
      .food_navigation .header_content a.mylink:hover:after {
        background: #ffffff; }
    .food_navigation .header_content .hamburger-inner, .food_navigation .header_content .hamburger-inner::before, .food_navigation .header_content .hamburger-inner::after {
      background-color: #fff; }
  .food_navigation #main {
    height: 100vh; }
    .food_navigation #main .shares .social-check-label::before, .food_navigation #main .shares .social-check-label::after {
      background: #ffffff; }
    .food_navigation #main .shares {
      color: #fff; }
    .food_navigation #main .socials a {
      color: #ffffff; }
      .food_navigation #main .socials a:hover {
        color: #9e0039; }
    .food_navigation #main .background {
      background-image: none !important; }
    .food_navigation #main .food_nav {
      padding: 50px 50px 25px;
      text-align: center;
      width: 50%;
      margin: 0 auto;
      position: relative;
      z-index: 5; }
      .food_navigation #main .food_nav .item {
        position: relative;
        z-index: 5; }
        .food_navigation #main .food_nav .item a {
          -webkit-transition: all 0.4s ease;
          -moz-transition: all 0.4s ease;
          -ms-transition: all 0.4s ease;
          -o-transition: all 0.4s ease;
          transition: all 0.4s ease;
          color: #000000;
          text-transform: uppercase;
          position: relative;
          font-weight: 500;
          font-size: 20px;
          margin-bottom: 29px;
          display: inline-block; }
          .food_navigation #main .food_nav .item a:before {
            -webkit-transition: all 0.4s ease;
            -moz-transition: all 0.4s ease;
            -ms-transition: all 0.4s ease;
            -o-transition: all 0.4s ease;
            transition: all 0.4s ease;
            content: '';
            position: absolute;
            width: 0;
            height: 2px;
            bottom: 0;
            left: 50%;
            background: #9e0039; }
          .food_navigation #main .food_nav .item a:after {
            -webkit-transition: all 0.4s ease;
            -moz-transition: all 0.4s ease;
            -ms-transition: all 0.4s ease;
            -o-transition: all 0.4s ease;
            transition: all 0.4s ease;
            content: '';
            position: absolute;
            width: 0;
            height: 2px;
            bottom: 0;
            right: 50%;
            background: #9e0039; }
          .food_navigation #main .food_nav .item a:hover {
            color: #9e0039;
            text-decoration: none; }
            .food_navigation #main .food_nav .item a:hover:after {
              right: 0;
              width: 54%; }
            .food_navigation #main .food_nav .item a:hover:before {
              left: 0;
              width: 54%; }
      .food_navigation #main .food_nav:before {
        z-index: 2;
        content: '';
        position: absolute;
        right: 0;
        bottom: 0;
        top: 0;
        left: 0;
        background: rgba(255, 255, 255, 0.8); }
      .food_navigation #main .food_nav:after {
        content: '';
        position: absolute;
        bottom: -20px;
        right: -20px;
        left: -20px;
        top: -20px;
        background: rgba(0, 0, 0, 0.4); }

.page-template-tpl-food .food .swiper-container {
  width: 100%;
  height: auto; }

.page-template-tpl-food .food .swiper-slide {
  overflow: hidden;
  height: auto !important;
  max-height: 2000px !important;
  min-height: 100vh;
  font-size: 18px;
  background-attachment: fixed; }

.page-template-tpl-food .food .pagination_wrap {
  overflow: hidden;
  position: fixed;
  right: 0;
  top: 50%;
  margin-top: -150px;
  width: 270px;
  height: 320px;
  background: rgba(255, 255, 255, 0.6);
  z-index: 3; }
  .page-template-tpl-food .food .pagination_wrap .swiper-pagination {
    text-align: left;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between;
    width: 100%;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }
    .page-template-tpl-food .food .pagination_wrap .swiper-pagination .swiper-pagination-bullet {
      width: 100%;
      padding-left: 20px;
      position: relative;
      display: block;
      margin-bottom: 35px;
      text-transform: uppercase;
      background: none;
      opacity: 1;
      font-weight: 500;
      color: #898989;
      font-size: 16px; }
    .page-template-tpl-food .food .pagination_wrap .swiper-pagination .swiper-pagination-bullet-active {
      color: #9e0039; }
  .page-template-tpl-food .food .pagination_wrap h3 {
    padding-top: 50px;
    margin-left: 20px;
    text-transform: uppercase;
    margin-bottom: 35px;
    padding-bottom: 6px;
    font-weight: 500;
    position: relative;
    display: inline-block;
    color: #9e0039;
    font-size: 18px; }
    .page-template-tpl-food .food .pagination_wrap h3:before {
      content: '';
      position: absolute;
      height: 2px;
      bottom: 0;
      left: 0;
      right: 0;
      background: #9e0039; }
  .page-template-tpl-food .food .pagination_wrap .gotomenu {
    z-index: 55;
    height: 30px;
    position: absolute;
    top: 0;
    left: 0;
    text-transform: uppercase;
    right: 0;
    background: #9e0039;
    color: #ffffff; }
    .page-template-tpl-food .food .pagination_wrap .gotomenu a {
      font-size: 20px;
      position: relative;
      color: #ffffff;
      padding: 5px;
      padding-left: 20px; }
      .page-template-tpl-food .food .pagination_wrap .gotomenu a:after {
        -webkit-transition: all 0.4s ease;
        -moz-transition: all 0.4s ease;
        -ms-transition: all 0.4s ease;
        -o-transition: all 0.4s ease;
        transition: all 0.4s ease;
        content: '→';
        position: absolute;
        color: #fffefe;
        top: -11px;
        right: -20px;
        font-size: 20px;
        line-height: 54px; }
      .page-template-tpl-food .food .pagination_wrap .gotomenu a:hover {
        text-decoration: none; }
        .page-template-tpl-food .food .pagination_wrap .gotomenu a:hover:after {
          right: -25px; }
  .page-template-tpl-food .food .pagination_wrap .help {
    position: relative; }

.page-template-tpl-food .food h1 {
  position: absolute;
  z-index: 5;
  left: 50%;
  top: 20px;
  color: #ffffff; }

.page-template-tpl-food header {
  display: none; }

.page-template-tpl-food footer {
  display: none; }

.page-template-tpl-food .info {
  font-size: 16px;
  padding: 20px 70px 20px;
  position: relative;
  width: 50%;
  max-width: 660px;
  margin: 90px auto 80px;
  z-index: 5; }
  .page-template-tpl-food .info:before {
    z-index: 2;
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.8); }
  .page-template-tpl-food .info:after {
    content: '';
    position: absolute;
    bottom: -20px;
    right: -20px;
    left: -20px;
    top: -20px;
    background: rgba(0, 0, 0, 0.4); }
  .page-template-tpl-food .info .price_list_content {
    position: relative;
    z-index: 3; }
  .page-template-tpl-food .info h2 {
    font-weight: 500;
    display: block;
    text-align: center;
    z-index: 3;
    position: relative;
    text-transform: uppercase;
    color: #9e0039; }
  .page-template-tpl-food .info .wrap {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between;
    padding-bottom: 5px;
    margin-bottom: 25px;
    border-bottom: 1px solid #eeeeee; }
    .page-template-tpl-food .info .wrap .price {
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      -webkit-justify-content: flex-end;
      -moz-justify-content: flex-end;
      justify-content: flex-end;
      -webkit-box-direction: normal;
      -webkit-box-orient: vertical;
      -webkit-flex-direction: column;
      -moz-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      font-size: 18px;
      font-weight: 500; }
      .page-template-tpl-food .info .wrap .price span {
        display: block;
        font-size: 12px; }
      .page-template-tpl-food .info .wrap .price .tobottom {
        margin-top: auto; }
    .page-template-tpl-food .info .wrap .name {
      color: #090b1e;
      -webkit-flex-basis: 80%;
      -moz-flex-basis: 80%;
      -ms-flex-preferred-size: 80%;
      flex-basis: 80%; }
      .page-template-tpl-food .info .wrap .name span {
        display: block;
        font-size: 12px; }

.food_navigation #main .background {
  z-index: -1; }

.food_navigation .header_content {
  margin-top: 100px; }
  .food_navigation .header_content #menuOpen {
    top: 85px; }

.food_navigation .foodnav_container {
  position: relative; }

.food_navigation .container {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

.food_navigation .swiper-pagination-bullet {
  text-align: left;
  padding-left: 20px;
  width: 100%;
  font-size: 16px; }

.sub-menu {
  text-align: left !important; }
  .sub-menu li a {
    font-size: 14px !important; }

li.menu-item-has-children {
  width: 55% !important; }

#menu-menu-1 {
  min-height: 100%; }

#menuOpen.opened + .food_navigation .container {
  position: relative; }

#menuOpen.opened .info {
  bottom: -450% !important; }

header .mylink {
  margin-left: auto; }

header .logos {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0; }
  header .logos img {
    margin: 0 auto; }

header #secondlogo {
  display: none; }

footer {
  background: #eeeeee;
  padding: 20px 0;
  text-align: center;
  font-size: 12px;
  color: #898989; }
  footer .mylink {
    position: relative;
    padding-bottom: 4px; }
    footer .mylink:before {
      -webkit-transition: all 0.4s ease;
      -moz-transition: all 0.4s ease;
      -ms-transition: all 0.4s ease;
      -o-transition: all 0.4s ease;
      transition: all 0.4s ease;
      content: '';
      position: absolute;
      width: 0;
      height: 2px;
      bottom: 0;
      left: 50%;
      background: #ce6813; }
    footer .mylink:after {
      -webkit-transition: all 0.4s ease;
      -moz-transition: all 0.4s ease;
      -ms-transition: all 0.4s ease;
      -o-transition: all 0.4s ease;
      transition: all 0.4s ease;
      content: '';
      position: absolute;
      width: 0;
      height: 2px;
      bottom: 0;
      right: 50%;
      background: #ce6813; }
    footer .mylink:hover {
      text-decoration: none; }
      footer .mylink:hover:before {
        left: 0;
        width: 50%; }
      footer .mylink:hover:after {
        right: 0;
        width: 50%; }

.page-id-212 .food .swiper-slide {
  max-height: 2350px !important; }

.page-id-207 .food .swiper-slide {
  max-height: 2500px !important; }

#menuOpen.opened + #mainMenu {
  position: fixed;
  top: 0;
  left: -900px;
  right: -900px;
  bottom: -2200px;
  width: inherit; }
  #menuOpen.opened + #mainMenu ul {
    width: 40%;
    margin: 0 auto;
    text-align: center; }
    #menuOpen.opened + #mainMenu ul a {
      border-bottom: none;
      font-weight: 400; }
      #menuOpen.opened + #mainMenu ul a:hover {
        text-decoration: none; }
  #menuOpen.opened + #mainMenu .closed {
    display: block; }

#menuOpen.opened + #mainMenu {
  position: fixed;
  top: 0;
  left: -900px;
  right: -900px;
  bottom: -2200px;
  width: inherit; }

a.logo.closed img {
  margin: 8px auto 40px; }

.closed {
  display: none !important; }

#menuOpen.opened {
  position: fixed;
  z-index: 99999;
  display: block;
  width: 100%; }
  #menuOpen.opened .socials {
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -moz-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
    position: absolute;
    top: 20px;
    right: 70px; }
  #menuOpen.opened .info {
    bottom: 40px;
    right: 50%;
    margin-right: -289px;
    opacity: 0.4;
    position: fixed;
    color: #ffffff;
    display: block !important; }

.mylink {
  position: relative;
  padding-bottom: 4px; }
  .mylink:before {
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 50%;
    background: #222; }
  .mylink:after {
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    right: 50%;
    background: #222; }
  .mylink:hover {
    text-decoration: none; }
    .mylink:hover:before {
      left: 0;
      width: 50%; }
    .mylink:hover:after {
      right: 0;
      width: 50%; }

.footer a {
  font-weight: 400;
  color: #ffffff;
  opacity: 1; }
  .footer a:hover {
    text-decoration: none; }

#menuOpen {
  display: inline-block;
  cursor: default !important; }
  #menuOpen.opened + #mainMenu {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0); }

#mainMenu {
  position: fixed;
  width: 300px;
  top: 50px;
  bottom: 0;
  left: -2000px;
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
  transform: translateX(100%);
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  overflow: auto;
  z-index: 9999;
  background: rgba(26, 26, 26, 0.95); }
  #mainMenu ul li {
    display: inline-block;
    width: 100%;
    position: relative; }
    #mainMenu ul li a {
      font-weight: 500;
      opacity: 0.4;
      display: block;
      margin: 0;
      color: #fff;
      font-size: 20px;
      padding: 15px 3%;
      border-bottom: 1px solid #000; }
      #mainMenu ul li a:hover {
        background: none;
        opacity: 1; }
    #mainMenu ul li.current-menu-item > a {
      opacity: 1;
      font-size: 30px; }
  #mainMenu ul .sub-menu {
    display: none; }
    #mainMenu ul .sub-menu > li > a {
      padding: 10px 4%; }

.subMenuButton {
  position: absolute;
  width: 55px;
  height: 55px;
  background: none;
  right: 0;
  top: 1.5px; }
  .subMenuButton:before, .subMenuButton:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background: #fff;
    transition: all 0.3s ease; }
  .subMenuButton:before {
    width: 2px;
    height: 20px; }
  .subMenuButton:after {
    width: 20px;
    height: 2px; }
  .subMenuButton.open:after {
    -webkit-transform: translate(-50%, -50%) rotate(180deg);
    -moz-transform: translate(-50%, -50%) rotate(180deg);
    -ms-transform: translate(-50%, -50%) rotate(180deg);
    transform: translate(-50%, -50%) rotate(180deg); }
  .subMenuButton.open:before {
    -webkit-transform: translate(-50%, -50%) rotate(90deg);
    -moz-transform: translate(-50%, -50%) rotate(90deg);
    -ms-transform: translate(-50%, -50%) rotate(90deg);
    transform: translate(-50%, -50%) rotate(90deg); }

.flex_parent {
  display: block;
  margin-bottom: 20px; }
  .flex_parent aside {
    margin: 0 auto; }

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  background-color: #9e0039; }

@media screen and (max-width: 1024px) {
  .shares {
    left: -20px; }
  #menuOpen {
    top: -10px;
    left: -7px; }
  .booking h1 {
    margin: 26px 0; }
  .booking .description {
    padding: 25px; }
  #main .background {
    top: 7px;
    left: 7px;
    right: 7px;
    bottom: 7px; }
  .home .swiper-button-next {
    right: 0 !important; }
  .home .swiper-button-prev {
    left: 0 !important; }
  .offers_block h2 {
    padding: 30px 0 25px; }
  .offers_block .week_offers {
    margin-top: 50px !important; }
  .group h1 {
    margin: 35px 0; } }

@media screen and (max-width: 767px) {
  img.alignright, img.alignleft {
    float: none;
    margin: 0 auto; }
  .shares, .socials {
    display: none; }
  .gallery_content {
    width: 100%; }
  .gallery_items .items {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between; }
    .gallery_items .items .item {
      margin-right: 0 !important;
      margin-top: 0 !important;
      -webkit-flex-basis: 49.5%;
      -moz-flex-basis: 49.5%;
      -ms-flex-preferred-size: 49.5%;
      flex-basis: 49.5%;
      width: 100% !important;
      height: 300px !important;
      top: 0 !important;
      margin-left: 0;
      position: relative !important; }
      .gallery_items .items .item .image_single {
        height: 100% !important; }
  #menoOpen.opened .info {
    text-align: center; }
    #menoOpen.opened .info a.mylink {
      display: block; }
  #mainMenu ul li a {
    font-size: 16px; }
  #mainMenu ul li.current-menu-item > a {
    font-size: 23px; }
  .booking {
    width: 100%; }
    .booking .description .middle {
      margin: 25px 0 25px; }
  .top_image {
    height: 300px !important; }
  .home_slider {
    width: 100% !important; }
  .home .swiper-button-next {
    right: 30px !important; }
  .home .swiper-button-prev {
    left: 30px !important; }
  .page-template-tpl-offers .offers .item {
    width: 100%; }
  .offers .top_image {
    width: 100% !important; }
  .group {
    width: 100%; }
    .group .top_image {
      width: 100%; } }

@media screen and (max-width: 600px) {
  footer .mylink {
    display: block; }
  #menuOpen.opened + #mainMenu ul {
    width: 90%; }
  #menuOpen.opened .info.footer {
    text-align: center;
    left: 15px;
    right: 15px;
    margin-right: 0;
    font-size: 13px; }
    #menuOpen.opened .info.footer a {
      display: block; }
  #contact .fancybox-close-small {
    left: 30px; }
  #contact .info_bottom {
    font-size: 12px; }
    #contact .info_bottom a.mylink {
      display: block; }
  #contact h2 {
    font-size: 24px; }
  #contact .contact_info {
    font-size: 15px; }
  .page-template-tpl-offers .offers .item {
    display: block; }
    .page-template-tpl-offers .offers .item .day {
      margin-bottom: 20px; }
  .page-template-tpl-offers .offers .bottom h3 {
    width: 100%; }
  .page-template-tpl-offers .offers .bottom_offers {
    padding-bottom: 80px;
    margin-top: 20px; }
  .group h1 {
    font-size: 22px;
    padding-bottom: 0; }
  .group .description {
    margin-bottom: 60px;
    display: block; }
    .group .description .image {
      height: 200px; } }

@media screen and (max-width: 479px) {
  .gallery_items {
    margin-bottom: 30px; }
    .gallery_items .items .item {
      -webkit-flex-basis: 100%;
      -moz-flex-basis: 100%;
      -ms-flex-preferred-size: 100%;
      flex-basis: 100%; }
  .gallery_content .top_gallery {
    height: 300px;
    margin-bottom: 6px; }
  #menuOpen.opened {
    left: 0; }
    #menuOpen.opened .socials {
      right: 15px; }
    #menuOpen.opened .hamburger {
      padding: 13px 7px; }
  .header_content .opened .close {
    left: 47px; }
  .slider_info h3 {
    font-size: 29px !important; }
  .slider_info .link a {
    font-size: 18px; }
  .home .home_content .home_slider .swiper-pagination .swiper-pagination-bullet {
    margin: 0 8px; } }
