h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  line-height: 1.2;
  padding-bottom: 20px;
}

p {
  padding-bottom: 20px;
  line-height: 1.5;
}

a {
  color: $bg;
  text-decoration: none;
  @include transition();
  &:hover {
    text-decoration: underline;
  }
}

.info.footer.clodes a.mylink{
  &:hover {
    color: $bg !important;
  }
}

.container {
  position: relative;
}

#menuOpen.opened {
  top: 15px;
  left: 10px;
}

.error404 {
  position: relative;
  height: 100vh;
  background-image: url('/wp-content/themes/sociable/images/404.jpg');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  footer {
    display: none;
  }
  header {
    display: none;
  }
  #main {
    &:before {
      display: none;
    }
    a.logo {
      img {
        margin: 50px auto;
      }
    }
    .go_home {
      a {
        position: relative;
        font-size: 16px;
        text-transform: uppercase;
        color: #9b9b9b;
        font-weight: 500;
      }
    }
    .not_found {
      position: relative;
      h2 {
        text-transform: uppercase;
        font-weight: 700;
        font-size: 20px;
      }
      &:before {
        font-family: $f;
        content: '404';
        font-size: 275px;
        font-weight: 700;
        position: absolute;
        right: 0;
        bottom: 0;
        top: 0;
        left: 0;
        color: #ffffff;
      }
    }
  }
}

.fancybox-hidden {
  display: none;
}

header {
  margin-bottom: 30px;
  font-family: $f;
  position: relative;
  z-index: 999;
  .logo {
    display: inline-block;
    margin: 0 auto;
  }
  a {
    font-weight: 700;
    text-transform: uppercase;
    color: $c;
  }
  .header_content {
    margin-top: 30px;
  }
}

#main {
  position: relative;
  .background {
    position: absolute;
    z-index: 1;
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    opacity: 0.7;
  }
}

.shadow {
  @include transition();
  box-shadow: 0 2px 10px 1px #ccc;
  &:hover {
    box-shadow: none;
  }
}

.hamburger {
  padding-right: 60px !important;
  &:hover {
    cursor: pointer;
  }
}

.close {
  display: none;
}

#mainMenu {
  text-align: center;
  background: #090b1e !important;
  a.logo2 {
    display: inline-block;
    margin: 25px 0;
  }
  ul li {
    &:last-child {
      margin-bottom: 40px;
    }
  }
}

.header_content .opened {
  .close {
    display: block !important;
    color: #ffffff;
    z-index: -1;
    position: fixed;
    top: 33px;
    left: 65px;
    text-transform: uppercase;
    font-size: 10px;
    &:hover {
      cursor: pointer;
    }
  }
}

.top_image {
  width: 86%;
  margin: 0 auto;
  height: 400px;
  position: relative;
  z-index: 995;
}

.home {
  footer {
    display: none;
  }
  .swiper-wrapper {
    .swiper-slide {
      &:nth-child(2) {
        .slider_info {
          text-align: center;
          h3 {
            text-align: center;
          }
        }
      }
    }
  }
  .home_content {
    padding-bottom: 110px;
    .container {
      position: relative;
    }
    .home_slider {
      width: 86%;
      margin: 0 auto;
      position: relative;
      margin-top: 40px;
      .swiper-container {
        z-index: 4;
        width: 100%;
        height: 600px;
        margin-left: auto;
        margin-right: auto;
      }
      .swiper-slide {
        position: relative;
        height: 600px;
        text-align: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
        &:before {
          content: '';
          position: absolute;
          right: 0;
          bottom: 0;
          top: 0;
          left: 0;
          background: rgba(0,0,0, 0.65);
        }
      }
      .swiper-button-next, .swiper-button-prev {
        bottom: -85px !important;
        top: inherit !important;
        background-image: none;
        text-transform: uppercase;
        font-size: 10px;
        &:before {
          font-size: 36px;
        }
        &:hover {
          color: $c2;
          &:before {
            color: $c2;
          }
        }
      }
      .swiper-button-next {
        right: -60px;
      }
      .swiper-button-prev {
        left: -55px;
      }
      .swiper-pagination {
        left: 0;
        right: 0;
        bottom: -65px;
        z-index: 4;
        .swiper-pagination-bullet-active {
          &:after {
            color: $c2 !important;
          }
        }
        .swiper-pagination-bullet {
          margin: 0 10px;
          font-family: $f2;
          font-weight: 500;
          &:first-child {
            position: relative;
            color: transparent;
            &:after {
              @include transition();
              color: #222222;
              content: '01';
              position: absolute;
              right: 0;
              bottom: 0;
              top: 0;
              left: 0;
            }
            &:hover {
              color: transparent;
              &:after {
                color: $c2;
              }
            }
            &:active {
              &:after {
                color: $c2;
              }
            }
          }
        }
        .swiper-pagination-bullet {
          opacity: 0.5;
          cursor: pointer;
          display: inline-block;
          width: auto;
          height: auto;
          line-height: 1.2;
          background: none;
          -webkit-border-radius: 0;
          -moz-border-radius: 0;
          border-radius: 0;
          @include transition();
          &:not(:last-child) {
            margin-bottom: 13px;
          }
          &-active, &:hover {
            opacity: 1;
            color: $c2;
            cursor: pointer !important;
          }
        }
      }
      .i-angle-left:before {
        position: absolute;
        left: -40px;
        top: -13px;
      }
      .i-angle-right:before {
        position: absolute;
        right: -40px;
        top: -13px;
      }
      font-family: $f;
    }
    .swiper-pagination .swiper-pagination-bullet:not(:last-child) {
      margin-bottom: 9px !important;
    }
  }
}

.shares {
  top: 45%;
  width: 105px;
  height: 310px;
  display: inline-block;
  position: absolute;
  left: 0;
  #share {
    text-transform: uppercase;
    transform: rotate(-90deg);
  }
  .share-container {
    position: absolute;
    height: 40px;
    width: 40px;
    border-radius: 40px;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    @include transition();
    z-index: 5;
  }

  .social-check-label {
    z-index: 10;
    position: absolute;
    height: 60px;
    width: 40px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%) rotate(0deg);
    border-radius: 100%;
    transition: 0.3s ease;
    cursor: pointer;
  }

  .social-check-label::before,
  .social-check-label::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 2px;
    width: 42%;
    border-radius: 2px;
    background-color: #9e0039;
  }

  .social-check-label::after {
    transform: translate(-50%, -50%) rotate(90deg);
  }

  .social-button {
    position: absolute;
    height: 40px;
    width: 40px;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.75);
    transition: 0.3s ease, opacity 0.1s ease;
    background-size: cover !important;
    backface-visibility: hidden;
    display: none;
  }

  .social-button.facebook {
    top: 80px !important;
    background: url("https://cdn4.iconfinder.com/data/icons/social-icon-4/842/facebook-256.png") no-repeat center;
  }

  .social-button.twitter {
    top: 40px !important;
    background: url("https://cdn4.iconfinder.com/data/icons/social-icon-4/842/twitter-256.png") no-repeat center;
  }

  .social-button.linkedin {
    top: 120px !important;
    background: url('/wp-content/themes/sociable/images/linkedin.png') no-repeat center;
  }

  .expander {
    position: absolute;
    height: 45px;
    width: 45px;
    border-radius: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    backface-visibility: hidden;
    transition: 0.3s ease;
  }

  #socialCheckbox {
    display: none;
  }

  #socialCheckbox:checked~ .share-container {
    box-shadow: none;
    transition: 0.3s ease, box-shadow 0.1s ease;
  }

  #socialCheckbox:checked~ .share-container> .social-button {
    display: block;
    cursor: pointer;
  }

  #socialCheckbox:checked~ .share-container> .social-button.facebook {
    top: 168px;
   @include transition();
  }

  #socialCheckbox:checked~ .share-container> .social-button.twitter {
    top: 210px;
    @include transition();
  }

  #socialCheckbox:checked~ .share-container> .social-button.google {
    top: 250px;
   @include transition();
  }

  #socialCheckbox:checked~ .share-container> .social-button:hover {
    transform: translate(-50%, -50%) scale(1);
    transition: 0.3s cubic-bezier(0.3, 0.2, 0, 2.5);
  }

  #socialCheckbox:checked~ .share-container> .social-check-label {
    transform: translateX(-50%) rotate(225deg);
  }
}

.socials {
  z-index: 33;
  position: absolute;
  right: 25px;
  top: 30%;
  display: inline-flex;
  @include flex-direction(column);
  a {
    color: #898989;
    margin-bottom: 16px;
    font-size: 18px;
    &:hover {
      color: #9e0039;
      text-decoration: none;
    }
  }
}

.gallery_content {
  width: 86%;
  margin: 0 auto;
  position: relative;
  z-index: 2;
  .top_gallery {
    margin-top: 50px;
    height: 400px;
    margin-bottom: 70px;
  }

}

.page-template-tpl-offers {
  #main {
    &:before {
      display: none;
    }
  }
  .offers {
    .top_image {
      width: 86%;
      margin: 0 auto;
      height: 400px;
      position: relative;
      z-index: 992;
    }
    h2 {
      padding-top: 60px;
      padding-bottom: 50px;
      font-size: 26px;
      text-transform: uppercase;
      color: #090b1e;
      font-weight: 500;
    }
    h3 {
      color: $c2;
      text-transform: uppercase;
      font-size: 18px;
      padding: 0;
    }
    .offers_block {
      position: relative;
      text-align: center;
      .week_offers {
        margin-top: 80px;
        text-align: center;
        @include flex-wrap(wrap);
      }
    }
    .item {
      width: 86%;
      margin: 0 auto;
      position: relative;
      padding: 20px;
      background: #fffefe;
      margin-bottom: 50px;
      box-shadow: 0 2px 10px 1px #ccc;
      &:nth-child(2n) {
        @include flex-direction(row-reverse);
      }
      .day {
        color: $c2;
        text-transform: uppercase;
        font-size: 18px;
        margin-bottom: 65px;
        font-weight: 500;
      }
      .info {
        font-weight: 500;
        @include flex-basis(58%);
        font-size: 16px;
        color: #090b1e;
        font-family: $f2;
      }
      .image {
        height: 213px;
        @include flex-basis(40%);
      }
    }
    .bottom_offers {
      padding-bottom: 120px;
      margin-top: 80px;
      .image {
        height: 353px;
      }
      .info {
        text-align: left;
        .day {
          margin-bottom: 25px;
        }
      }
      .item {
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
    .bottom h3 {
      width: 50%;
      margin: 0 auto;
      font-weight: 500;
    }
  }
}

.group {
  width: 86%;
  margin: 0 auto;
  text-align: center;
  h1 {
    margin: 95px 0;
    text-transform: uppercase;
    font-size: 26px;
    font-weight: 500;
  }
  .description {
    margin-bottom: 100px;
    padding: 20px;
    background: #fffefe;
    .image {
      @include flex-basis(40%);
      height: inherit;
    }
    .text {
      @include flex-basis(58%);
      text-align: left;
      h2 {
        display: block;
        text-align: center;
        color: $c2;
        text-transform: uppercase;
      }
      a {
        color: $c2;
      }
    }
  }
}

.booking {
  width: 86%;
  margin: 0 auto;
  text-align: center;
  .top_image {
    width: 100%;
    margin: 0;
  }
  h1 {
    margin: 95px 0;
    text-transform: uppercase;
    font-size: 26px;
    font-weight: 500;
  }
  .description {
    margin-bottom: 50px;
    padding: 40px 70px 60px;
    background: #fffefe;
    h2 {
      padding-bottom: 0;
      margin-bottom: 45px;
      display: block;
      text-align: center;
      color: $c2;
      text-transform: uppercase;
    }
    p {
      padding-bottom: 5px;
    }
    .middle {
      margin: 45px 0 50px;
      text-transform: uppercase;
      p {
        margin-bottom: 0;
      }
    }
    .bottom {
      p {
        &:first-child {
          padding-bottom: 20px;
        }
      }
    }
  }
}

.price_list {
  .price_list_slider {
    position: relative;
    .swiper-slide {
      min-height: 454px;
    }
    .pagination_wrap {
      width: 315px;
      max-width: 100%;
      top: 0;
      bottom: 0;
      left: 0;
      padding: 25px;
      z-index: 10;
      position: absolute;
      background: rgba(37,37,37,.8);
    }
    .swiper-pagination {
      font-family: $f2;
      color: #ffffff;
      text-align: left;
      text-transform: uppercase;
      position: static;
      .swiper-pagination-bullet {
        display: block;
        width: auto;
        height: auto;
        line-height: 1.2;
        opacity: 1;
        background: none;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
        @include transition();
        &:not(:last-child) {
          margin-bottom: 13px;
        }
        &-active, &:hover {
          color: $bg;
        }
      }
    }
  }
  .price_list_content {
    padding: 25px 0;
    .swiper-slide {
      min-height: 0!important;
    }
    h3 {
      color: $bg;
      text-align: center;
      text-transform: uppercase;
    }
    .prices_content {
      .procedure {
        padding: 3px 10px;
        &:nth-of-type(odd) {
          background: #e6e6e6;
        }
      }
      .wrap {
        &:not(:last-child) {
          margin-bottom: 20px;
        }
      }
    }
  }
}

.wine_type {
  .swiper-container {
    overflow: inherit !important;
    @include flex-direction(row-reverse);
    .info {
      text-align: center;
      margin-top: 30px;
    }
  }
  .swiper-slide {
    position: relative;
    font-size: 18px;
    z-index: 10;
  }
  .swiper-pagination {
    height: 300px;
    background: #ffffff;
    padding: 25px;
    font-family: $f;
    width: 25%;
    margin-right: 20px;
    float: left;
    color: #000;
    text-align: left;
    text-transform: uppercase;
    position: static;
    .swiper-pagination-bullet {
      font-weight: 500;
      color: #898989;
      font-family: $f;
      cursor: pointer;
      display: block;
      width: auto;
      height: auto;
      line-height: 1.2;
      opacity: 1;
      background: none;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0;
      @include transition();
      &:not(:last-child) {
        margin-bottom: 13px;
      }
      &-active, &:hover {
        color: $c2;
        cursor: pointer !important;
      }
    }
  }
}

.swiper-slide {
  .slider_info{
    text-align: left;
    color: #fffefe;
    position: relative;
    width: 86%;
    margin: 0 auto;
    h3 {
      text-transform: uppercase;
      font-size: 36px;
      padding-bottom: 50px;
      span {
        font-family: 'Mistral';
      }
    }
    .link {
      margin-top: 45px;
      @include transition();
      a {
        @include transition();
        color: #fffefe;
        text-transform: uppercase;
        position: relative;
        font-size: 20px;
        font-weight: 500;
        &:after {
          @include transition();
          content: '→';
          position: absolute;
          color: #fffefe;
          top: -11px;
          right: -40px;
          font-size: 26px;
        }
        &:hover {
          text-decoration: none;
          &:after {
            right: -60px;
          }
        }
        &:empty {
          display: none;
        }
      }
    }
    p {
      padding-bottom: 0;
    }
  }
}

.general {
  h1 {
    text-transform: uppercase;
    font-weight: 500;
    margin: 100px 0 100px !important;
    padding-bottom: 0;
  }
  .top_top {
    height: 300px;
  }
  .image {
    float: right;
    height: 400px;
    width: 40%;
    margin-left: 20px;
  }
  .items_wine {
    @include flex-direction(column);
    .item {
      @include justify-content(space-between);
      .small {
        display: block;
      }
    }
  }
  .menu_item {
    .i {
      padding: 20px;
      margin-bottom: 100px;
      overflow: hidden;
      &:nth-child(2n) {
        .image {
          float: left;
          margin-left: 0;
          margin-right: 20px;
        }
        .w   {
          margin-left: auto;
        }
      }
    }
    h2 {
      display: block;
      text-align: center;
      color: $c2;
    }
  }
}

.top_gallery {
  position: relative;
}

.gallery_items {
  margin-bottom: 100px;
  .items {
    position: relative;
    .item {
      margin-right: 1.3% !important;
      margin-bottom: 5px !important;
      overflow: hidden;
      display: inline-block;
      .image_single {
        position: relative;
        &:before {
          opacity: 0;
          content: '';
          position: absolute;
          right: 0;
          bottom: 0;
          top: 0;
          left: 0;
          background: rgba(61, 63, 77, 0.85);
        }
        .bg_image {
          @include transition();
          opacity: 0;
          position: absolute;
          top: 20px;
          right: 20px;
          left: 20px;
          bottom: 20px;
          .square {
            position: relative;
            width: 50px;
            text-align: center;
            margin: 45% auto 0;
            span {
              text-transform: uppercase;
              color: #ffffff;
              font-size: 22px;
              font-weight: 500;
            }
            &:before {
              @include transition();
              content: '';
              position: absolute;
              top: 0;
              width: 0;
              left: 0;
              height: 2px;
              background: #fff;
            }
            &:after {
              @include transition();
              font-weight: 700;
              content: '';
              position: absolute;
              width: 2px;
              height: 0;
              top: -50%;
              left: 50%;
              background: #fff;
            }
          }
        }
      }
      &:nth-child(1) {
        width: 40.4%;
        .image_single {
          width: 100%;
          height: 385px;
        }
      }
      &:nth-child(2) {
        margin-right: 0 !important;
        float: right;
        width: 35%;
        .image_single {
          margin-right: 0;
          width: 100%;
          height: 184px;
        }
      }
      &:nth-child(3) {
        width: 35%;
        float: right;
        margin-right: 0 !important;
        position: absolute;
        right: 0;
        top: 199px;
        .image_single {
          height: 184px;
          width: 100%;
        }
      }
      &:nth-child(4) {
        float: right;
        width: 22%;
        .image_single {
          width: 100%;
          height: 385px;
        }
      }
      &:nth-child(5) {
        margin-right: 0 !important;
        width: 35%;
        float: right;
        .image_single {
          width: 100%;
          margin-right: 0;
          height: 385px;
        }
      }
      &:nth-child(6) {
        width: 63.7%;
        .image_single {
          width: 100%;
          height: 385px;
        }
      }
      .image_single {
        @include transition();
      }
    }
    &:nth-child(2n) {
      .item {
        &:nth-child(6) {
          width: 35%;
        }
        &:nth-child(5) {
          width: 63.7%;
        }
        &:nth-child(1) {
          height: 184px;
          margin-top: 199px;
          width: 35%;
        }
        &:nth-child(2) {
          width: 40.4%;
          height: 385px;
          .image_single {
            height: 100%;
          }
        }
        &:nth-child(3) {
          left: 0;
          top: 0;
        }
      }
    }
  }
}

#contact {
  position: relative;
  height: 100vh;
  width: 100%;
  background: #090b1e;
  margin: 0 !important;
  text-align: center;
  &:before {
    content: '';
    position: absolute;
    z-index: 1;
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    background-image: url('http://163.test/wp-content/uploads/2018/03/bg.png');
  }
  .fancybox-close-small {
    top: 40px;
    left: 60px;
    width: 20px;
    height: 20px;
    transform: rotate(-45deg);
    border-left: 1px solid #9e0039;
    border-top: 1px solid #9e0039;
    &:hover {
      &:after {
        background: none;
      }
    }
    &:after {
      height: 0;
      width: 0;
      padding-left: 20px;
      content: 'BACK';
      color: #ffffff;
      transform: rotate(45deg);
      font-size: 10px;
      line-height: 0;
    }
  }
  .contact_top {
    position: relative;
    z-index: 2;
    a.logo img {
      margin: 11px auto 0;
    }
    .socials {
      right: 90px;
    }
  }
  .contact_info {
    margin-top: 70px;
    display: inline-block;
    font-size: 17px;
    z-index: 2;
    position: relative;
    text-align: center;
    color: #ffffff;
    .shadule {
      margin-top: 50px;
    }
    a {
      color: #ffffff;
    }
    h2 {
      text-transform: uppercase;
      font-weight: 500;
      font-size: 30px;
      padding-bottom: 40px;
    }
    h3 {
      text-transform: uppercase;
      font-weight: 500;
      padding-bottom: 33px;
      font-size: 20px;
    }
  }
  .footer {
    position: absolute;
    bottom: 40px;
    left: 0;
    right: 0;
    .info_bottom {
      text-align: center;
      color: #79797c;
      text-transform: uppercase;
    }
    a {
      &:hover {
        color: $bg;
      }
    }
  }
}

.footer a {
  position: relative;
  z-index: 3;
  &:hover {
    color: $bg !important;
    opacity: 1;
    &:before {
      background: $bg;
    }
    &:after {
      background: $bg;
    }
  }
}

.wines {
  .swiper-container {
    width: 100%;
    height: 100vh;
  }
  .swiper-slide {
    text-align: center;
    font-size: 18px;
  }
}

.food_navigation {
  position: relative;
  #main {
    &:before {
      content: '';
      position: absolute;
      width: 20px;
      height: 100%;
      top: 0;
      left: 0;
      bottom: 0;
      background: #fff;
    }
    &:after {
      content: '';
      position: absolute;
      width: 20px;
      height: 100%;
      bottom: 0;
      top: 0;
      right: 0;
      background: #fff;
    }
  }
  &:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 20px;
    top: 0;
    left: 0;
    right: 0;
    background: #fff;
  }
  &:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 20px;
    bottom: 0;
    left: 0;
    right: 0;
    background: #fff;
  }
  #firstlogo {
    display: none;
  }
  #secondlogo {
    display: inline-block;
  }
  .header_content {
    margin-top: 50px;
    a.mylink {
      color: #ffffff;
      &:hover {
        &:before {
          background: #ffffff;
        }
        &:after {
          background: #ffffff;
        }
      }
    }
    .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
      background-color: #fff;
    }
  }
  #main {
    .shares .social-check-label::before, .shares .social-check-label::after {
      background: #ffffff;
    }
    .shares {
      color: #fff;
    }
    .socials {
      a {
        color: #ffffff;
        &:hover {
          color: $c2;
        }
      }
    }
    height: 100vh;
    .background {
      background-image: none !important;
    }
    .food_nav {
      padding: 50px 50px 25px;
      text-align: center;
      width: 50%;
      margin: 0 auto;
      position: relative;
      z-index: 5;
      .item {
        position: relative;
        z-index: 5;
        a {
          @include transition();
          color: #000000;
          text-transform: uppercase;
          position: relative;
          font-weight: 500;
          font-size: 20px;
          margin-bottom: 29px;
          display: inline-block;
          &:before {
            @include transition();
            content: '';
            position: absolute;
            width: 0;
            height: 2px;
            bottom: 0;
            left: 50%;
            background: $c2;
          }
          &:after {
            @include transition();
            content: '';
            position: absolute;
            width: 0;
            height: 2px;
            bottom: 0;
            right: 50%;
            background: $c2;
          }
          &:hover {
            color: $c2;
            text-decoration: none;
            &:after {
              right: 0;
              width: 54%;
            }
            &:before {
              left: 0;
              width: 54%;
            }
          }
        }
      }
      &:before {
        z-index: 2;
        content: '';
        position: absolute;
        right: 0;
        bottom: 0;
        top: 0;
        left: 0;
        background: rgba(255,255,255, 0.8);
      }
      &:after {
        content: '';
        position: absolute;
        bottom: -20px;
        right: -20px;
        left: -20px;
        top: -20px;
        background: rgba(0,0,0, 0.4);
      }
    }
  }
}

.page-template-tpl-food {
  .food {
    .swiper-container {
      width: 100%;
      height: auto;
    }
    .swiper-slide {
      overflow: hidden;
      height: auto !important;
      max-height: 2000px !important;
      min-height: 100vh;
      font-size: 18px;
      background-attachment: fixed;
    }
    .pagination_wrap {
      overflow: hidden;
      position: fixed;
      right: 0;
      top: 50%;
      margin-top: -150px;
      width: 270px;
      height: 320px;
      background: rgba(255,255,255, 0.6);
      z-index: 3;
      .swiper-pagination {
        text-align: left;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        -webkit-justify-content: space-between;
        -moz-justify-content: space-between;
        justify-content: space-between;
        width: 100%;
        @include flex-direction(column);
        .swiper-pagination-bullet {
          width: 100%;
          padding-left: 20px;
          position: relative;
          display: block;
          margin-bottom: 35px;
          text-transform: uppercase;
          background: none;
          opacity: 1;
          font-weight: 500;
          color: #898989;
          font-size: 16px;
        }
        .swiper-pagination-bullet-active {
          color: $c2;
        }
      }
      h3 {
        padding-top: 50px;
        margin-left: 20px;
        text-transform: uppercase;
        margin-bottom: 35px;
        padding-bottom: 6px;
        font-weight: 500;
        position: relative;
        display: inline-block;
        color: $c2;
        font-size: 18px;
        &:before {
          content: '';
          position: absolute;
          height: 2px;
          bottom: 0;
          left: 0;
          right: 0;
          background: $c2;
        }
      }
      .gotomenu {
        z-index: 55;
        height: 30px;
        position: absolute;
        top: 0;
        left: 0;
        text-transform: uppercase;
        right: 0;
        background: $c2;
        color: #ffffff;
        a {
          font-size: 20px;
          position: relative;
          color: #ffffff;
          padding: 5px;
          padding-left: 20px;
          &:after {
            @include transition();
            content: '→';
            position: absolute;
            color: #fffefe;
            top: -11px;
            right: -20px;
            font-size: 20px;
            line-height: 54px;
          }
          &:hover {
            text-decoration: none;
            &:after {
              right: -25px;
            }
          }
        }
      }
      .help {
        position: relative;
      }
    }
    h1 {
      position: absolute;
      z-index: 5;
      left: 50%;
      top: 20px;
      color: #ffffff;
    }
  }
  header {
    display: none;
  }
  footer {
    display: none;
  }
  .info {
    font-size: 16px;
    padding: 20px 70px 20px;
    position: relative;
    width: 50%;
    max-width: 660px;
    margin: 90px auto 80px;
    z-index: 5;
    &:before {
      z-index: 2;
      content: '';
      position: absolute;
      right: 0;
      bottom: 0;
      top: 0;
      left: 0;
      background: rgba(255,255,255, 0.8);
    }
    &:after {
      content: '';
      position: absolute;
      bottom: -20px;
      right: -20px;
      left: -20px;
      top: -20px;
      background: rgba(0,0,0, 0.4);
    }
    .price_list_content {
      position: relative;
      z-index: 3;
    }
    h2 {
      font-weight: 500;
      display: block;
      text-align: center;
      z-index: 3;
      position: relative;
      text-transform: uppercase;
      color: $c2;
    }
    .wrap {
      @include justify-content(space-between);
      padding-bottom: 5px;
      margin-bottom: 25px;
      border-bottom: 1px solid #eeeeee;
      .price {
        @include justify-content(flex-end);
        @include flex-direction(column);
        font-size: 18px;
        font-weight: 500;
        span {
          display: block;
          font-size: 12px;
        }
        .tobottom {
          margin-top: auto;
        }
      }
      .name {
        color: #090b1e;
        @include flex-basis(80%);
        span {
          display: block;
          font-size: 12px;
        }
      }
    }
  }
}

.food_navigation {
  #main .background{
    z-index: -1;
  }
  .header_content {
    margin-top: 100px;
    #menuOpen {
      top: 85px;
    }
  }
  .foodnav_container {
    position: relative;
  }
  .container {
    @include center();
  }
  .swiper-pagination-bullet {
    text-align: left;
    padding-left: 20px;
    width: 100%;
    font-size: 16px;
  }
}

 .sub-menu {
  text-align: left !important;
   li a {
     font-size: 14px !important;
   }
}

 li.menu-item-has-children {
   width: 55% !important;
 }














 #menu-menu-1 {
   min-height: 100%;
 }

#menuOpen.opened + .food_navigation .container {
  position: relative;
}

#menuOpen.opened .info {
  bottom: -450% !important;
}

header {
  .mylink {
    margin-left: auto;
  }
  .logos {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    img {
      margin: 0 auto;
    }
  }
  #secondlogo {
    display: none;
  }
}

footer {
  background: #eeeeee;
  padding: 20px 0;
  text-align: center;
  font-size: 12px;
  color: #898989;
  .mylink {
    $color: #ce6813;
    position: relative;
    padding-bottom: 4px;
    &:before {
      @include transition();
      content: '';
      position: absolute;
      width: 0;
      height: 2px;
      bottom: 0;
      left: 50%;
      background: $color;
    }
    &:after {
      @include transition();
      content: '';
      position: absolute;
      width: 0;
      height: 2px;
      bottom: 0;
      right: 50%;
      background: $color;
    }
    &:hover {
      text-decoration: none;
      &:before {
        left: 0;
        width: 50%;
      }
      &:after {
        right: 0;
        width: 50%;
      }
    }
  }
}

.page-id-212 .food .swiper-slide {
  max-height: 2350px !important;
}

.page-id-207 .food .swiper-slide {
  max-height: 2500px !important;
}

