//Responsive Web Design

#menuOpen.opened + #mainMenu {
  //position: fixed;
  //top: 0;
  //left: 0;
  //right: 0;
  //bottom: 0;
  //width: inherit;

  position: fixed;
  top: 0;
  left: -900px;
  right: -900px;
  bottom: -2200px;
  width: inherit;
  ul {
    width: 40%;
    margin: 0 auto;
    text-align: center;
    a {
      border-bottom: none;
      font-weight: 400;
      &:hover {
        text-decoration: none;
      }
    }
  }
  .closed {
    display: block;
  }
}

#menuOpen.opened + #mainMenu {
  position: fixed;
  top: 0;
  left: -900px;
  right: -900px;
  bottom: -2200px;
  width: inherit;
}

a.logo.closed img {
  margin: 8px auto 40px;
}

.closed {
  display: none !important;
}

#menuOpen.opened {
  position: fixed;
  z-index: 99999;
  display: block;
  width: 100%;
  .socials {
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -moz-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
    position: absolute;
    top: 20px;
    right: 70px;
  }
  .info {
    bottom: 40px;
    right: 50%;
    margin-right: -289px;
    opacity: 0.4;
    position: fixed;
    color: #ffffff;
    display: block !important;
  }
}

.mylink {
  $color: #222;
  position: relative;
  padding-bottom: 4px;
  &:before {
    @include transition();
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 50%;
    background: $color;
  }
  &:after {
    @include transition();
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    right: 50%;
    background: $color;
  }
  &:hover {
    text-decoration: none;
    &:before {
      left: 0;
      width: 50%;
    }
    &:after {
      right: 0;
      width: 50%;
    }
  }
}

.footer {
  a {
    font-weight: 400;
    color: #ffffff;
    opacity: 1;
    &:hover {
      text-decoration: none;
    }
  }
}

  #menuOpen {
    display: inline-block;
    cursor: default!important;
    &.opened {
      & + #mainMenu {
        @include transform(translateX(0));
      }
    }
  }
  #mainMenu {
    position: fixed;
    width: 300px;
    top: 50px;
    bottom: 0;
    left: -2000px;
    @include transform(translateX(100%));
    @include transition();
    overflow: auto;
    z-index: 9999;
    background: rgba(26, 26, 26, 0.95);
    ul {
      li {
        display: inline-block;
        width: 100%;
        position: relative;
        a {
          font-weight: 500;
          opacity: 0.4;
          display: block;
          margin: 0;
          color: #fff;
          font-size: 20px;
          padding: 15px 3%;
          border-bottom: 1px solid #000;
          &:hover {
            background: none;
            opacity: 1;
          }
        }
        &.current-menu-item > a {
          opacity: 1;
          font-size: 30px;
        }
      }
      .sub-menu {
        display: none;
        >li>a {
          padding: 10px 4%;
        }
      }
    }
  }
  .subMenuButton {
    position: absolute;
    width: 55px;
    height: 55px;
    background: none;
    right: 0;
    top: 1.5px;
    &:before, &:after {
      content: '';
      @include center();
      background: #fff;
      transition: all 0.3s ease;
    }
    &:before {
      width: 2px;
      height: 20px;
    }
    &:after {
      width: 20px;
      height: 2px;
    }
    &.open {
      &:after {
        -webkit-transform: translate(-50%, -50%) rotate(180deg);
        -moz-transform: translate(-50%, -50%) rotate(180deg);
        -ms-transform: translate(-50%, -50%) rotate(180deg);
        transform: translate(-50%, -50%) rotate(180deg);
      }
      &:before {
        -webkit-transform: translate(-50%, -50%) rotate(90deg);
        -moz-transform: translate(-50%, -50%) rotate(90deg);
        -ms-transform: translate(-50%, -50%) rotate(90deg);
        transform: translate(-50%, -50%) rotate(90deg);
      }
    }
  }
  .flex_parent {
    display: block;
    margin-bottom: 20px;
    aside {
      margin: 0 auto;
    }
  }

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  background-color: #9e0039;
}



@media screen and (max-width: 1024px) {
  .shares {
    left: -20px;
  }
  #menuOpen {
    top: -10px;
    left: -7px;
  }
  .booking {
    h1 {
      margin: 26px 0;
    }
    .description {
      padding: 25px;
    }
  }

  #main .background {
    top: 7px;
    left: 7px;
    right: 7px;
    bottom: 7px;
  }

  .home {
    .swiper-button-next {
      right: 0 !important;
    }
    .swiper-button-prev {
      left: 0 !important;
    }
  }

  .offers_block {
    h2 {
      padding: 30px 0 25px;
    }
    .week_offers {
      margin-top: 50px !important;
    }
  }

  .group h1 {
    margin: 35px 0;
  }

}


@media screen and (max-width: 767px) {
  img.alignright, img.alignleft {
    float: none;
    margin: 0 auto;
  }
  .shares, .socials {
    display: none;
  }
  .gallery_content {
    width: 100%;
  }

  .gallery_items .items {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    @include flex-wrap(wrap);
    @include justify-content(space-between);
    .item {
      margin-right: 0 !important;
      margin-top: 0 !important;
      @include flex-basis(49.5%);
      width: 100% !important;
      height: 300px !important;
      top: 0 !important;
      margin-left: 0;
      position: relative !important;
      .image_single {
        height: 100% !important;
      }
    }
  }

  #menoOpen.opened {
    .info {
      text-align: center;
      a.mylink {
        display: block;
      }
    }
  }

  #mainMenu ul li a {
    font-size: 16px;
  }
  #mainMenu ul li.current-menu-item > a {
    font-size: 23px;
  }

  .booking {
    width: 100%;
    .description .middle {
      margin: 25px 0 25px;
    }
  }

  .top_image {
    height: 300px !important;
  }

  .home_slider {
    width: 100% !important;
  }

  .home {
    .swiper-button-next {
      right: 30px !important;
    }
    .swiper-button-prev {
      left: 30px !important;
    }
  }

  .page-template-tpl-offers .offers .item {
    width: 100%;
  }

  .offers .top_image {
    width: 100% !important;
  }

  .group {
    width: 100%;
    .top_image {
      width: 100%;
    }
  }

}


@media screen and (max-width: 600px) {
  footer .mylink {
    display: block;
  }
  #menuOpen.opened + #mainMenu ul {
    width: 90%;
  }
  #menuOpen.opened {
    .info.footer {
      text-align: center;
      left: 15px;
      right: 15px;
      margin-right: 0;
      font-size: 13px;
      a {
        display: block;
      }
    }
  }
  #contact {
    .fancybox-close-small {
      left: 30px;
    }
    .info_bottom {
      font-size: 12px;
      a.mylink {
        display: block;
      }
    }
    h2 {
      font-size: 24px;
    }
    .contact_info {
      font-size: 15px;
    }
  }
  .page-template-tpl-offers .offers .item {
    display: block;
    .day {
      margin-bottom: 20px;
    }
  }
  .page-template-tpl-offers .offers .bottom h3 {
    width: 100%;
  }
  .page-template-tpl-offers .offers .bottom_offers {
    padding-bottom: 80px;
    margin-top: 20px;
  }

  .group {
    h1 {
      font-size: 22px;
      padding-bottom: 0;
    }
    .description {
      margin-bottom: 60px;
      display: block;
      .image {
        height: 200px;
      }
    }
  }
}


@media screen and (max-width: 479px) {
  .gallery_items {
    margin-bottom: 30px;
    .items .item {
      @include flex-basis(100%);
    }
  }
  .gallery_content .top_gallery {
    height: 300px;
    margin-bottom: 6px;
  }
  #menuOpen.opened {
    left: 0;
    .socials {
      right: 15px;
    }
    .hamburger {
      padding: 13px 7px;
    }
  }
  .header_content .opened .close {
    left: 47px;
  }
  .slider_info {
    h3 {
      font-size: 29px !important;
    }
    .link a {
      font-size: 18px;
    }
  }

  .home .home_content .home_slider .swiper-pagination .swiper-pagination-bullet {
    margin: 0 8px;
  }

}