html {
  font: 400 #{$font-base}/1.5714 $f, sans-serif;
}

body {
  color: $c;
  @include flex-direction(column);
  @include flexbox();
  min-height: 100vh;
}

#main {
  width: 100%;
  @include flex(1, 0, auto);
  overflow: hidden;
}

.container {
  margin: 0 auto;
  width: $w;
  max-width: 94%;
  position: relative;
}

input[type="text"], input[type="email"], input[type="tel"], input[type="search"], input[type="password"], textarea {
  width: 100%;
  height: $inputH;
  font-family: $f;
  font-size: rem(14);
  border: 1px solid #ccc;
  padding: 0 10px;
  background: #eee;
  @include transition();
  &:focus {
    border: 1px solid $bg;
  }
}
textarea {
  resize: none;
  height: 100px;
  padding: 10px;
}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: $placeholder;
}

input::-moz-placeholder, textarea::-moz-placeholder {
  color: $placeholder;
  opacity: 1;
}
/*Button*/
.button {
  display: inline-block;
  font-family: $f;
  font-size: rem($font-base);
  text-align: center;
  line-height: rem(40);
  text-decoration: none;
  color: #fff;
  padding: 0 rem(20);
  background: $bg;
  &:hover {
    opacity: 0.8;
    text-decoration: none;
  }
}

/*Social*/
.some {
  a {
    display: inline-block;
    position: relative;
    width: 30px;
    height: 30px;
    margin: 0 8px;
    background: #ffffff;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
    &:hover {
      background: $bg;
      text-decoration: none;
      &:before {
        color: #ffffff;
      }
    }
    &:before {
      color: $c;
      @include center();
      @include transition();
    }
  }
}

.flex {
  @include flexbox;
  @include justify-content(space-between);
}

.alc {
  @include flexbox;
  @include justify-content(space-between);
  @include align-items(center);
}

.start {
  @include flexbox;
  @include justify-content(space-between);
  @include align-items(flex-start);
}

.end {
  @include flexbox;
  @include justify-content(space-between);
  @include align-items(flex-end);
}

.flex_parent {
  @include flexbox();
  @include justify-content(space-between);
  @include align-items(flex-start);
  article {
    @include flex(1);
  }
  aside {
    @include flex-basis(250px);
    min-width: 250px;
    max-width: 100%;
    margin-left: 20px;
  }
}

.cover {
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.valign {
  display: inline-block;
  vertical-align: middle;
  max-width: 94%
}

.vfix {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  width: 0
}

//SELECT
.selbel_w {
  position: relative;
  display: block;
  width: 100%;
  font-size: 14px;
  font-family: $f;
  height: $inputH;
  select {
    width: 100%;
    height: 100%;
    cursor: pointer;
    position: relative;
    display: block;
    z-index: 1;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    + span {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: #fff;
      color: $c;
      padding: 0 10px;
      border: 1px solid #eee;
      line-height: $inputH;
      &:after {
        content: '';
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 9px 5px 0 5px;
        border-color: #555 transparent transparent transparent;
        position: absolute;
        right: 13px;
        top: 16px;
      }
      &.err {
        border-color: #ef4036
      }
    }
    option {
      padding: 5px
    }
  }
}

//Fullframe
.fullframe {
  height: 0;
  margin: 0;
  overflow: hidden;
  padding-bottom: 56.5%;
  position: relative;
  z-index: 0;
  iframe, object, embed {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1
  }
}

//CONTACT FORM
div.wpcf7 {
  .wpcf7-form-control-wrap {
    display: block !important;
    margin-bottom: 20px;
    clear: both;
  }
  .wpcf7-not-valid-tip {
    background: #fff;
    border: 1px solid #FF0000;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    cursor: pointer;
    font-family: $f;
    height: $inputH;
    line-height: $inputH;
    padding: 0 10px;
    text-align: left;
  }
  .wpcf7-response-output {
    width: 100%;
    background: #fff;
    margin: 10px 0 0 0;
    font-family: $f;
    font-size: 12px;
    line-height: 20px;
    padding: 5px 20px;
    text-align: center;
  }
  .ajax-loader {
    display: none;
  }
}

//PAGE 404
.error404 {
  .content {
    text-align: center;
    h1 {
      font-size: rem(60);
      line-height: 1.2;
      padding-bottom: 40px;
      font-weight: 400;
      span {
        font-size: rem(85);
        line-height: 1.2;
        color: $bg;
        font-weight: 700;
      }
    }
    p {
      font-size: rem(18);
    }
  }
}

//Menu Button
#menuOpen {
  position: absolute;
  top: -15px;
  right: inherit !important;
  left: -15px;
  height: 55px;
  text-align: left;
  display: none;
  z-index: 999;
}

// Hamburgers
// Settings
// ==================================================
$hamburger-padding-x: 15px !default;
$hamburger-padding-y: 13px !default;
$hamburger-layer-width: 40px !default;
$hamburger-layer-height: 4px !default;
$hamburger-layer-spacing: 6px !default;
$hamburger-layer-color: #fff !default;
$hamburger-layer-border-radius: 4px !default;
$hamburger-hover-opacity: 1 !default;
$hamburger-hover-transition-duration: 0.20s !default;
$hamburger-hover-transition-timing-function: ease-in-out !default;

// To use CSS filters as the hover effect instead of opacity,
// set $hamburger-hover-use-filter as true and
// change the value of $hamburger-hover-filter accordingly.
$hamburger-hover-use-filter: false !default;
$hamburger-hover-filter: opacity(50%) !default;

// ==================================================
.hamburger {
  padding: $hamburger-padding-y $hamburger-padding-x;
  display: inline-block;
  cursor: default;
  transition-property: opacity, filter;
  transition-duration: $hamburger-hover-transition-duration;
  transition-timing-function: $hamburger-hover-transition-timing-function;
  // Normalize (<button>)
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
  &:hover {
    @if $hamburger-hover-use-filter == true {
      filter: $hamburger-hover-filter;
    } @else {
      opacity: $hamburger-hover-opacity;
    }
  }
}
.hamburger-box {
  width: $hamburger-layer-width;
  height: $hamburger-layer-height * 3 + $hamburger-layer-spacing * 2;
  display: inline-block;
  vertical-align: middle;
  position: relative;
}
.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: $hamburger-layer-height / -2;
  &,
  &::before,
  &::after {
    width: $hamburger-layer-width;
    height: $hamburger-layer-height;
    background-color: $hamburger-layer-color;
    border-radius: $hamburger-layer-border-radius;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease;
  }
  &::before,
  &::after {
    content: "";
    display: block;
  }
  &::before {
    top: ($hamburger-layer-spacing + $hamburger-layer-height) * -1;
  }
  &::after {
    bottom: ($hamburger-layer-spacing + $hamburger-layer-height) * -1;
  }
}
/*Collapse*/
.hamburger--collapse {
  .hamburger-inner {
    top: auto;
    bottom: 0;
    transition-duration: 0.13s;
    transition-delay: 0.13s;
    transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    &::after {
      top: ($hamburger-layer-spacing * 2 + $hamburger-layer-height * 2) * -1;
      transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1),
      opacity 0.1s linear;
    }
    &::before {
      transition: top 0.12s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1),
      transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
  }
  &.is-active {
    .hamburger-inner {
      transform: translate3d(0, ($hamburger-layer-spacing + $hamburger-layer-height) * -1, 0) rotate(-45deg);
      transition-delay: 0.22s;
      transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);

      &::after {
        top: 0;
        opacity: 0;
        transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333),
        opacity 0.1s 0.22s linear;
      }

      &::before {
        top: 0;
        transform: rotate(-90deg);
        transition: top 0.1s 0.16s cubic-bezier(0.33333, 0, 0.66667, 0.33333),
        transform 0.13s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
      }
    }
  }
}

/*Scroll*/
::-webkit-scrollbar {
  width: 13px;
}
::-webkit-scrollbar-track {
  border-left: 1px solid #ccc;
  background-color: #eaeaea;
}
::-webkit-scrollbar-thumb {
  background-color: $bg;
}
::-webkit-scrollbar-thumb:hover {
  background: darken($bg, 5%);
}

